/* header */
*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  width: 100%;
  padding: 5px 0%;
  position: sticky;
  background-color: #CCD5AE;
}

#nav_logo {
  height: auto;
  width: 20%;
  margin-left: 2%;
}

#navbar {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav_list {
  display: flex;
  text-decoration: none;
  gap: 20%;
}

.link_pagina_nova {
  display: flex;
  align-items: center;
  border: none;
  background-color: #CCD5AE;
  color: #597F34;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.icone {
  margin-right: 10%;
  width: 80%;
  height: 80%;
}

.texto_icone_atual {
  font-weight: bold;
  text-decoration:underline;
}

#icone_perfil {
  height: auto;
  width: 170%;
  margin-right: 100%;
}


/* Main */
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  background-color: #FFFCE9;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pagina {
  padding-top: 2%;
  padding-left: 9%;
  font-size: 150%;
  color: #D4A373;
  font-weight: bold;
  text-decoration: underline;
  align-self: flex-start;
} 

#card {
  flex-direction: column;
  background-color: #CCD5AE;
  width: 50vw;
  max-width: 600px; /* Limita a largura do card */
  margin-left: 2%;
  margin-top: 2%;
  border-radius: 2vw;
  padding: 2%;
}


.textos {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  overflow-wrap: break-word; /* Garante que o texto será quebrado se ultrapassar o limite */
  word-wrap: break-word;
}

.negrito {
  font-weight: bold;
}

.botao_individual {
  background-color: #597F34;
  color: #FFFCE9; 
  padding: 10px 20px;
  border-radius: 10px; 
  border: none; 
  font-size: 100%;
  margin: 5px; 
  margin-top: 5%;
  justify-content: center;
}

.botoes {
  display: flex; 
  justify-content: center; 
  gap: 10px; 
  margin-top: 20px; 
}



