/* header */
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    width: 100%;
    padding: 5px 0%;
    position: sticky;
    background-color: #CCD5AE;
}

#nav_logo {
    height: auto;
    width: 20%;
    margin-left: 2%;
}

#navbar {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_list {
    display: flex;
    text-decoration: none;
    gap: 20%;
}

.link_pagina_nova {
    display: flex;
    align-items: center;
    border: none;
    background-color: #CCD5AE;
    color: #597F34;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.icone {
    margin-right: 10%;
    width: 80%;
    height: 80%;
}

#icone_perfil {
    height: auto;
    width: 170%;
    margin-right: 10%;
}

/* main */

main {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #FFFCE9;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.profile-container {
    background-color: #CCD5AE;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-top: 50%;
}

.profile-container h2 {
    margin-bottom: 15px;
    color: #597F34;
}

.profile-info {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
    font-weight: bold;
    
}


.delete-btn {
    background-color: #597F34;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #4e6e2d;
}
